<div class="media-player">
  <div class="media-player--wrapper">
    <!--Zona del artista-->
    <div class="artist player-center">
      <ng-container *ngTemplateOutlet="artistZone"></ng-container>
    </div>
    <!--Zona del reproductor-->
    <div class="player-controls player-center">
      <ng-container *ngTemplateOutlet="playerZone"></ng-container>
    </div>
    <!--Zona del controles adicionales-->
    <div class="player-audio player-center">
      <ng-container *ngTemplateOutlet="playerAudio"></ng-container>
    </div>
  </div>
</div>

<!-- ZONE TEMPLATES -->

<ng-template #artistZone>
  <div
    class="artist-inside"
    *ngIf="multimediaService.trackInfo$ | async as mockCover"
  >
    <img [src]="mockCover.cover" alt="" class="cover" />
    <div class="track-info">
      <h3 class="track-title">{{ mockCover.name }}</h3>
      <h5 class="track-title sub-title">{{ mockCover?.album }}</h5>
    </div>
    <div class="track-like">
      <button class="btn-like">
        <em class="uil uil-heart"></em>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #playerZone>
  <div class="player-controls-inside">
    <div class="buttons-media">
      <button class="arrow btn">
        <em class="uil uil-previous"></em>
      </button>
      <button class="play btn">
        <em class="uil"></em>
      </button>
      <button class="arrow btn">
        <em class="uil uil-step-forward"></em>
      </button>
    </div>
    <div class="media-linetime">
      <div class="time">00</div>
      <span #progressBar class="time-progress">
        <span class="time-progress-live" [style.width]="10 + '%'"> </span>
      </span>
      <div class="time">99</div>
    </div>
  </div>
</ng-template>

<ng-template #playerAudio>
  <div class="player-audio-inside">
    <button class="btn-media">
      <em class="uil uil-list-ui-alt"></em>
    </button>
    <button class="btn-media">
      <em class="uil uil-boombox"></em>
    </button>
    <button class="btn-media">
      <em class="uil uil-volume-off"></em>
    </button>
  </div>
</ng-template>
